#ifndef MQTT_CREDENTIAL_H
#define MQTT_CREDENTIAL_H

#define CONFIG_MQTT_CLIENT_ID "xxx"
#define CONFIG_MQTT_USERNAME "xxx"
#define CONFIG_MQTT_PASSWORD "xxx"

#define CONFIG_MY_BROKER_URL "mqtt://xxx.com"
#endif
